In [1]:
names : list[str] =['Ahmad ','Ali ',"Abdullah"]
for name in names:
    print(name)

Ahmad
Ali
Abdullah

In [1]:
names : list[tuple[str,str]] =[('Ahmad','123'),
                               ('Mohammad','456'),
                               ('Hassan','789')]

for name in names:
    user, password = name
    print('user: ', user, " password: ", password)

user:  Ahmad  password:  123
user:  Mohammad  password:  456
user:  Hassan  password:  789

In [5]:
names : list[tuple[str,str]] =[('Ahmad','123'),
                               ('Mohammad','456'),
                               ('Hassan','789')]

input_user : str =input("Enter the user name: ")
input_pass : str = input("Enter the password: ")

for name in names:
    user, password = name
    if input_user.lower()==user.lower() and input_pass==password:
        print(f"Welcome {user}")
        break
else:                   # only in python you can use else with the for loop if all iterations are completed than the else block is executeted.
    print("Invalid username or password")

Welcome Ahmad

# Numbers with loop
* range(start,end,step)

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))  # start 0 end n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(2,21,2)) # start end step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [12]:
magicians = ['alice','david','caroline']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'caroline')]

In [13]:
magicians = ['alice','david','caroline']

for index , name in enumerate(magicians):
    print(index , name)

0 alice
1 david
2 caroline

In [14]:
for n in range(1,11):
    print(f"{2} x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
squares : list[int]=[]
for value in range(1,11):
    square = value**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprhensive
```
for item in items_list:
    loop_body
```
### Comprehensive Style
```
loop_body for item in items_list
```

In [16]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [18]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
digits:list[int] = [1,2,3,4,5,6,7,8,9]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1
45

### Slicing produces deep copy meaning change in one doesn't effect the other one.

# Tuples

In [23]:
names:tuple[str]=('A','B','C')
print(names)
print(names[0:2])

('A', 'B', 'C')
('A', 'B')

In [24]:
names:tuple[str]=('A','B','C')

names[0] ="Pakistan"

TypeError: 'tuple' object does not support item assignment

In [26]:
from typing import Any
data :tuple[any]= ('A',[1,2,3],True)

print(data)
print(data[1])

data[1].append(20)

print(data)

('A', [1, 2, 3], True)
[1, 2, 3]
('A', [1, 2, 3, 20], True)