In [1]:
print("logic1")
print("logic2")
l1: list[int] = [1, 2, 3]

try:
    print(7 / 0)
    print(l1[0])

except ZeroDivisionError:
    print("Zero division error")


except IndexError:
    print("Index error")

print("logic3")

logic1
logic2
Zero division error
logic3

In [2]:
print("logic1")
print("logic2")
l1: list[int] = [1, 2, 3]

try:
    print(7 / 2)
    print(l1[4])

except ZeroDivisionError:
    print("Zero division error")


except IndexError:
    print("Index error")

print("logic3")

logic1
logic2
3.5
Index error
logic3

In [3]:
print("logic1")
print("logic2")
l1: list[int] = [1, 2, 3]

try:
    print(7 / 2)
    print(l1[2])
    open("aa.txt")

except ZeroDivisionError:
    print("Zero division error")


except IndexError:
    print("Index error")

except:  # Dynamic Except Which we dont know about
    print("Unknown error")

print("logic3")

logic1
logic2
3.5
3
Unknown error
logic3

In [4]:
try:
    print(age)

except Exception as e:
    print(f"Something is wrong!\n{e}")

Something is wrong!
name 'age' is not defined

In [5]:
try:
    print(l1[100])

except Exception as e:
    print(f"Something is wrong!\n{e}")

Something is wrong!
list index out of range

In [7]:
class StudentCard:
    def __init__(self, roll_no: int, name: str, age: int) -> None:
        if age < 18 or age > 60:
            raise StudentClassError("You are not eligible for this program")
        self.roll_no = roll_no
        self.name = name
        self.age = age


class StudentClassError(Exception):
    pass


student1 = StudentCard(1, "Ahmad", 30)

print(student1.age, student1.roll_no, student1.name)

30 1 Ahmad

In [8]:
student2 = StudentCard(2, "Ali", 12)

print(student1.age, student1.roll_no, student1.name)

StudentClassError: You are not eligible for this program

# File Handling

https://www.geeksforgeeks.org/reading-writing-text-files-python/

<img src="">

In [9]:
open("./abc.txt")

In [14]:
from typing import TextIO

data: TextIO = open("./abc.txt")  # connectivity with abc.txt file
print(type(data))
data

<class '_io.TextIOWrapper'>

In [11]:
[i for i in dir(data) if "__" not in i]

['_CHUNK_SIZE',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [16]:
data: TextIO = open("./abc.txt")  # connectivity with abc.txt file
print(data.read())

line1
line2

In [18]:
from typing import TextIO

data: TextIO = open("./abc.txt")  # connectivity with abc.txt file
print(data.read())  # we must close the connection
# with the file to free the resurce
data.close()

line1
line2

## With block automatically closes the file

In [19]:
with open("./abc.txt") as file:  # type : TextIO  default
    print(file.read())

line1
line2

In [23]:
with open("./abc.txt") as file:  # type : TextIO  default
    print(file.readline())
    print(file.readline())

line1

line2

In [25]:
with open("./abc.txt") as file:  # type : TextIO  default
    print(file.readline(), end="")
    print(file.readline())

line1
line2

In [21]:
with open("./abc.txt") as file:  # type : TextIO  default
    print(file.readlines())

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5']

In [22]:
with open("./abc.txt") as file:  # type : TextIO  default
    print(file.readlines()[:3])

['line1\n', 'line2\n', 'line3\n']

In [26]:
with open("./abc.txt", "r") as file:  # type : TextIO  default and r is default
    print(file.readlines()[:3])

['line1\n', 'line2\n', 'line3\n']

In [28]:
with open("./abc.txt", "r") as file:  # type : TextIO  default and r is default
    print(file.read())
    print(file.write("Pakistan Zindabad"))

line1
line2
line3
line4
line5

UnsupportedOperation: not writable

In [29]:
with open("./abc.txt", "w") as file:  # type : TextIO  default and r is default
    print(file.read())
    print(file.write("Pakistan Zindabad"))

UnsupportedOperation: not readable

In [30]:
with open("./abc1.txt", "w") as file:  # type : TextIO  default
    # and r is default
    file.write("Pakistan Zindabad")  # Removes the previous text

17

In [31]:
with open("./abc1.txt", "r+") as file:  # type : TextIO  default and r is default
    print(file.read())
    file.write("We Love our country")

In [32]:
with open("./abc1.txt", "r+") as file:  # type : TextIO  default and r is default
    file.write("We Love our country")
    print(file.read())

In [33]:
with open("./abc1.txt", "r+") as file:  # type : TextIO  default and r is default
    print(file.read())
    file.write("We love our country")
    print(file.read())

Pakistan Zindabad

In [36]:
with open("./abc1.txt", "r+") as file:  # type : TextIO  default and r is default
    print(file.read())
    file.write("We love our country")
    file.seek(0)
    print(file.read())

Pakistan Zindaabad
Pakistan ZindaabadWe love our country

# Now change modes

In [38]:
with open("./abc2.txt", "r") as file:  # type : TextIO  default
    # and r is default
    print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: './abc2.txt'

In [ ]:
with open("./abc2.txt", "w") as file:
    print(file.write("Pakistan"))

# if file exist then it overwrite the file
# if no file it will create a new file

In [39]:
with open("./abc2.txt", "w") as file:
    print(file.write("Pakistan Zindaabad"))

# if file exist then it overwrite the file
# if no file it will create a new file

18

In [41]:
with open("./abc2.txt", "a") as file:
    file.write(" Pakistan Zindaabad")

# if file exist then it does not overwrite the file
# if no file it will create a new file

19

In [42]:
with open("./abc2.txt", "x") as file:
    print(file.write("Pakistan Zindaabad"))

# only create a new file everytime
# if file exists then error

FileExistsError: [Errno 17] File exists: './abc2.txt'

In [43]:
with open("./abc3.txt", "x") as file:
    file.write("Pakistan Zindaabad")

# only create a new file everytime
# if file exists then error

In [44]:
with open("./abc3.txt", "rb+") as file:
    print(file.read())

b'Pakistan Zindaabad'

<table class="s-table">
<thead>
<tr>
<th style="text-align: center;">Mode</th>
<th style="text-align: center;">r</th>
<th style="text-align: center;">r+</th>
<th style="text-align: center;">w</th>
<th style="text-align: center;">w+</th>
<th style="text-align: center;">a</th>
<th style="text-align: center;">a+</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">Read</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
</tr>
<tr>
<td style="text-align: center;">Write</td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
</tr>
<tr>
<td style="text-align: center;">Create</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
</tr>
<tr>
<td style="text-align: center;">Cover</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">Point in the beginning</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">Point in the end</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">+</td>
<td style="text-align: center;">+</td>
</tr>
</tbody>
</table>

# read some real world data files

- image
- csv
- live camera

In [47]:
import pandas as pd

df: pd.DataFrame = pd.read_csv("./data.csv")
df

   id     name   education
0   1  'ahmad'  'Bachelor'
1   2    'ali'     'inter'
2   3  'qasim'    'Master'

In [49]:
import pandas as pd

df: pd.DataFrame = pd.read_excel("./demo.xlsx")
df

   Id   Name  Education
0   1  Ahmad  Bachelors
1   2    Ali      Inter
2   3  Qasim    Masters

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

img = mpimg.imread("image.jpeg")
img

UnidentifiedImageError: cannot identify image file './image.jpeg'