# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [6]:
#%pip install lxml

import pandas as pd


table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
x : int = 10
y : int = 20

print(x + y)

30

In [8]:
x : int = 30
y : int = 20

print(x - y)

10

In [9]:
x : int = 10
y : int = 20

print(x * y)

200

In [10]:
print(2**3)

print(2**2)

8
4

In [14]:
print(14 / 3)

4.666666666666667

In [15]:
print(14//3)

4

# Python Assignment Operators

In [16]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [17]:
 # +=

a : int = 7
print(a)

a = a + 2
print(a)

a += 2
print(a)

7
9
11

# Python Comparison Operators

In [18]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [19]:
a : int = 7
b : int = 10

print(a == b)

False

In [20]:
a : int = 7
b : int = 7

print(a == b)

True

In [21]:
a : int = 7
b : int = 8

print(a > b)

False

In [22]:
a : int = 7
b : int = 8

print(a < b)

True

In [23]:
a : int = 7
b : int = 7

print(a <= b)

True

In [24]:
a : int = 7
b : int = 8

print(a >= b)

False

In [26]:
a : str = "A"
b : str = "B"
print(b>=a)

True

# Python Logical Operators

In [27]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [28]:
print(True and True and True)
print(False or False or True)
print(False and False and True)

True
True
False

In [30]:
name : str = "Ahmad"
print(not name=="Ahmad")
print(name!='Ahmad')

False
False

# Python Identity Operators
* Efficient Memory Management 
* Shallow Copy
* Name different but memory same

In [31]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [32]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140708073246984
140708073246984

In [33]:
x is z

True

In [34]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140708073246984
140708073246984

False

# Python Membership Operators

In [35]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [36]:
names : list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [38]:
names : list[str] = [chr(i) for i in range(65,91)]
names
for i in range(len(names)):
    print(names[i])
    if("E" == names[i]):
        print("breaked")
        break

A
B
C
D
E
breaked

In [40]:
"E" in names

True

In [41]:
"D" not in names

False

In [43]:
names : list[str] = ["Ahmad", "Ali", "Qasim"]

uinput : str = input("Enter your name: ")

uinput in names

True

In [45]:
names : list[str] = ["Ahmad", "Ali", "Qasim"]

uinput : str = input("Enter your name: ")

uinput not in names

True

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

## PEMDAS

In [47]:
print(3 + 2 - 2 * 4 / 2 + 2 )
#     3 + 2 - 8 / 2 + 2
#     3 + 2 - 4 + 2
#     5 -  4  + 2
#       1 + 2
#         3

3.0

In [49]:
# unzip

a , b  , c = 'a' , 7 , 3.0
print(a)
print(b)
print(c)

a
7
3.0