# String Data Type in Python

In [14]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

#Error due to string and integer
#card : str = "PIAIC Student Card\nStudent Name: " + name  + "\nAge: " + age


card : str = "PIAIC Student Card\nStudent Name: " + name  + "\nAge: " + str(age)

card : str = "PIAIC Student Card\nStudent Name: " + name  +\
      "\nAge: " + str(age) +\
      "\nEducation: " + education

print(name)
print(type(name))
print(card)

Ahmad Aziz
<class 'str'>
PIAIC Student Card
Student Name: Ahmad Aziz
Age: 21
Education: Bachelor Of Computer Science

In [5]:
message : str = "PIAIC Student Card \nFather's Name : "
print(message)

PIAIC Student Card
 Father's Name :

In [6]:
#convert any special charcter into simple character , place \ before character
message : str = 'PIAIC Student Card \nFather\'s Name : '
print(message)

PIAIC Student Card
Father's Name :

# \ Line continue

In [12]:
print(7 + \
      8 + \
        2)

17

# Define Multi line String """ """ , "" ""

In [16]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = """
PIAIC Student Card : ----
Father's Name : -----
"""

print(card)

PIAIC Student Card : ----
Father's Name : -----

# Fstring python ===> Langchain template is based on fstream 
Just place f after = and then use {variable_name} in the multi line string

In [22]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = f"""
PIAIC Student Card : {name}
Father's Name : {fname}
Education : {education}
Age : {age}

Total : {2+8+10}
"""

print(card)

PIAIC Student Card : Ahmad Aziz
Father's Name : Arshad
Education : Bachelor Of Computer Science
Age : 21

Total : 20

In [20]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = f'''
PIAIC Student Card : {name}
Father's Name : {fname}
Education : {education}
Age : {age}
'''

print(card)

PIAIC Student Card : Ahmad Aziz
Father's Name : Arshad
Education : Bachelor Of Computer Science
Age : 21

# f- string and Jinja

In [ ]:
"""
Student name {name}
"""

In [ ]:
# Jinja Style
"""
Student name {{name}}
"""

In [24]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = f"""
PIAIC Student Card : %s
Father's Name : %s
Education : %s
Age : %d


""" %(name , fname , education , age )

print(card)

PIAIC Student Card : Ahmad Aziz
Father's Name : Arshad
Education : Bachelor Of Computer Science
Age : 21

In [26]:
name : str = "AHmad AzIZ"
print(name.capitalize())
print(name.lower())
print(name.upper())

Ahmad aziz
ahmad aziz
AHMAD AZIZ

In [28]:
a = 7
b = 8


"pakistan value a = {} and value b = {}".format(a,b) #Part of Fstring

'pakistan value a = 7 and value b = 8'

# Recmommend below two f-string format methods

In [34]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = '''      
PIAIC Student Card : {0}  
Father's Name : {1}
Education : {3}
Age : {2}
'''.format(name , fname , age , education)
#            0       1     2      3         ===> indexes

print(card)

PIAIC Student Card : Ahmad Aziz
Father's Name : Arshad
Education : Bachelor Of Computer Science
Age : 21

In [36]:
name : str = "Ahmad Aziz"
fname : str = "Arshad"
education : str = 'Bachelor Of Computer Science'
age : int = 21

card : str = '''      
PIAIC Student Card : {a}  
Father's Name : {b}
Education : {c}
Age : {d}
'''.format(a= name , b= fname ,d= age ,c= education)
#            0         1         2          3         ===> placeholders

print(card)

PIAIC Student Card : Ahmad Aziz
Father's Name : Arshad
Education : Bachelor Of Computer Science
Age : 21

In [ ]:
student_code : str = """
print("my name is Ahmad")
a : int = 7
b : int = 8
print(a+b)
"""

exec(student_code)